.first-comp-wrapper{
    height: 100vh;
    background: url(../../assets/images/main-bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.first-comp{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) -11.42%, rgba(0, 0, 0, 0) 103.65%);
}