.first-component{
    .main-blur-back{
        background: rgba(217, 71, 71, 0.5);
        filter: blur(224px);
        border-radius: 10000px;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    h1{
        z-index: 1 !important;
        font-family: 'Bebas Neue', sans-serif;
        font-style: normal;
        font-weight: 400;
        text-align: center;
        color: rgba(255, 255, 255, 0.07);
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(22px);
    }
    h3{
        z-index: 1 !important;
        font-family: 'Bebas Neue', sans-serif;
        font-style: normal;
        font-weight: 400;
        text-align: center;
        color: rgba(255, 255, 255, 0.07);
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(22px);
    }
    img{
        z-index: 2 !important;
    }
}