.login-page{
    background: rgb(222,98,98);
    background: linear-gradient(90deg, rgba(222,98,98,1) 0%, rgba(255,184,140,1) 50%);
            input{
        &::placeholder{
            color: rgba(0, 0, 0, .3);
        }
    }
}
.login-form-wrapper{
    transform: translate(-50%, -50%);
    input{
        border: 1px solid rgb(203, 203, 203);
    }
}